body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to top, #0b260bf0, #144f15dc);
}
.card-body {
  flex: 1;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-body .icon {
  font-size: 1.4rem;
  color: #d90404eb;
  margin-left: 8px;
  pointer-events: none;
  cursor: default;
  transition: none;
}

.card-title {
  font-size: 1.6rem;
  color: #343a40;
  font-weight: bold;
  margin: 0;
}

.card-text {
  font-size: 1rem;
  color: #0b0c0c;
  margin-bottom: 0.5rem;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
}

.card-price {
  font-size: 1.7rem;
  color: #11451d;
  font-weight: bold;
  margin: 0;
}

.card-footer button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: #f1f1f1;
  border: none;
  background: linear-gradient(to top, #014185, #025bbb);
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}

.home-container {
  background: linear-gradient(to top, #aeaeaeeb, #e5e5e5fd);
  max-width: 1700px;
  margin: 0px auto;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 2rem 1rem;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.card-footer button:hover {
  background: linear-gradient(to top, #004794, #026fe3);
}

.pizza-card {
  border: 3px outset #da0a0ad4;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6), inset 0 0 10px #000000;
  transition: transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 15px;
  width: calc(20% - 2rem);
  min-width: 200px;
}

.pizza-card:hover {
  transform: scale(1.04);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.pizza-img {
  border-radius: 15px;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: 1px outset #da0a0ad4;
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.6), inset 0 0 10px #000000;
  margin-bottom: 5px;
}
.title-with-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title-with-icon .icon {
  font-size: 1.5rem;
  color: #bf2811ea;
}

/* ---------  MODAL/ALERT STYLE --------- */

.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.735);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.image-modal .modal-content {
  position: relative;
  background: linear-gradient(to top, #d3d3d3eb, #eeeeeefd);
  border: 5px outset #d00000b5;
  border-radius: 15px;
  padding: 35px;
  max-width: 80%;
  max-height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 20px 35px rgba(0, 0, 1);
}

.image-modal .modal-img {
  width: 100%;
  height: auto;
  max-width: 800px;
  max-height: 700px;
  border-radius: 10px;
  object-fit: cover;
}

.image-modal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.668);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.image-modal .close:hover {
  background-color: rgba(255, 0, 0, 0.713);
}

/*-------------------------*/

.swal-custom-popup {
  background: linear-gradient(to top, #ebebebd9, #ffffffef);
  border: 4px outset #047a00c9;
  border-radius: 10px;
}

.swal-custom-title {
  color: #078600;
}

.swal-custom-button {
  font-weight: bold;
  background-color: #179800;
  color: rgb(255, 255, 255);
  border-radius: 7px;
  padding: 10px 20px;
}

/* Modal Responsiveness */

@media (max-width: 1240px) {
  .image-modal .modal-content {
    padding: 20px;
    max-width: 90%;
  }

  .image-modal .modal-img {
    max-width: 100%;
    max-height: 400px;
  }
}

@media (max-width: 768px) {
  .image-modal .modal-content {
    padding: 10px;
    max-width: 100%;
  }

  .image-modal .modal-img {
    max-width: 90%;
    max-height: 300px;
  }
}

/* Card Responsiveness */

@media (max-width: 1024px) {
  .pizza-card,
  .order-card,
  .pick-order-card {
    width: calc(45% - 1.5rem);
  }
}

@media (max-width: 768px) {
  .pizza-card,
  .order-card,
  .pick-order-card {
    width: calc(100% - 2rem);
    margin: 0 auto;
  }
}
